/** Tabs *********************************************************************/
section .tabs > li > a,
section .tabs > li > a:visited {
  background-color: #d6d7d9;
  color: #212121;
  line-height: 1;
  margin: 0;
  padding: .5882em 1.1765em;
  text-decoration: none;
}
@media screen and (min-width: 30em) {
  section .tabs > li > a,
  section .tabs > li > a:visited {
    margin: 0 0 .5em;
  }
}
section .tabs > li > a:hover,
section .tabs > li > a:focus,
section .tabs > li > a:active {
  background-color: #aeb0b5;
  box-shadow: none;
  color: #212121;
  outline: 0;
  text-decoration: none;
}
section .tabs > li.active > a,
section .tabs > li.active > a:hover {
  background-color: #212121;
  color: #fff;
}
section .tabs > li.active > a:focus {
  background-color: #323a45;
}
section .tabs > li.active > a:hover {
  cursor: default;
}
section .tabs {
  margin-bottom: 1.5em;
}
section .tabs > li > a > br {
  display: none;
}
@media screen and (min-width: 30em) {
  section .tabs {
    margin-bottom: 1em;
  }
  section .tabs > li {
    border-bottom: 1px solid #aeb0b5;
    float: left;
    padding-right: .5em; /* LTR */
    margin-bottom: .5em;
  }
  section .tabs > li:first-child {
    padding-left: .5em; /* LTR */
  }
  section .tabs > li > a {
    border-radius: 3px 3px 0 0 !important;
    margin: 0;
  }
  section .tabs > li > a > br {
    display: block;
  }
}
section .tabs > li > a:focus,
section .tabs > li > a:hover {
  border-color: #aeb0b5;
}
section .tabs > li:first-child > a {
  border-radius: 3px 3px 0 0;
}
section .tabs > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

/* vertical tabs */
@media screen and (min-width: 30em) {
  .vertical {
   float: right;
   border-left: 1px solid #aeb0b5;
   margin-left: .5em;
  }
  .vertical > li {
   float: none;
   width: 10em;
   padding-left: 0;
   border-bottom: 0;
  }
  .vertical > li:first-child {
    padding-top: .5em;
    padding-left: 0;
  }
  .vertical > li > a {
    border-left: 0 !important;
    border-radius: 0 3px 3px 0 !important;
    margin: 0;
  }
}
