html {
	overflow-y: scroll;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
.epabody * {
	box-sizing: border-box;
}
.epabody * {
	-moz-transition: background-color .25s linear, border-color .25s linear, -moz-box-shadow .25s linear, box-shadow .25s linear, color .25s linear, opacity .25s linear, text-shadow .25s linear, -moz-transform .25s linear;
	-ms-transition: background-color .25s linear, border-color .25s linear, -ms-box-shadow .25s linear, box-shadow .25s linear, color .25s linear, opacity .25s linear, text-shadow .25s linear, -ms-transform .25s linear;
	-o-transition: background-color .25s linear, border-color .25s linear, -o-box-shadow .25s linear, box-shadow .25s linear, color .25s linear, opacity .25s linear, text-shadow .25s linear, -o-transform .25s linear;
	-webkit-transition: background-color .25s linear, border-color .25s linear, -webkit-box-shadow .25s linear, box-shadow .25s linear, color .25s linear, opacity .25s linear, text-shadow .25s linear, -webkit-transform .25s linear;
	transition: background-color .25s linear, border-color .25s linear, box-shadow .25s linear, color .25s linear, opacity .25s linear, text-shadow .25s linear, transform .25s linear;
}
body,.epabody, .epabody dl, .epabody figure, .epabody form {
	margin: 0;
}
.epabody button, .epabody input, .epabody optgroup, .epabody select, .epabody textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
}
.epabody button, .epabody input {
	line-height: normal;
}
.epabody img, .epabody input, .epabody textarea, .epabody video {
	height: auto;
	max-width: 100%;
}
.epabody button {
	width: auto;
	overflow: visible;
}
/* @media screen */
.epabody, .epabody button, .epabody input, .epabody select, .epabody textarea {
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
/* @media screen */
.epabody {
	font-size: 1.7em;
	line-height: 1.5;
}
.epabody {
	background: #fff;
}
.epabody article, .epabody aside, .epabody details, .epabody figcaption, .epabody figure, footer.epabody, header.epabody, .epabody hgroup, .epabody main, .epabody menu, nav.epabody, section.epabody, .epabody summary {
	display: block;
}
/* @media screen */
.epabody .fieldset-description, .epabody .form-actions, .epabody .form-item, .epabody .node-teaser, .epabody .pane-content > .node, .epabody .view-mode-teaser2, .epabody :not(.file).view-mode-teaser, .epabody .view-mode-title2, .epabody dd, .epabody ol, .epabody p, .epabody ul, .epabody ul.accordion ul {
	margin: 0;
	padding-bottom: 1.5em;
	word-wrap: break-word;
}
/* @media screen */
.epabody ul {
	padding-left: 1.2em;
}
.epabody a {
	outline-offset: 2px;
}
.epabody a {
	color: #0071bc;
}
/* @media screen */
.epabodycaption, .epabody h1, .epabody h2, .epabody h3, .epabody h4, .epabody h5, .epabody h6, .epabody legend {
	font-family: Merriweather,Georgia,Cambria,"Times New Roman",Times,serif;
	font-weight: 700;
	line-height: 1.3;
	margin: 0;
	text-rendering: optimizeLegibility;
}
/* @media screen */
.epabody h1, .epabody h2, .epabody h3, .epabody h4, .epabody h5, .epabody h6 {
	padding: 0 0 .5em;
}
/* @media screen */
.epabody aside.size-1of4 h1, .epabody h2 {
	font-size: 176.47%;
}
/* @media screen */
.epabody h1 {
	font-size: 235.29%;
}
.epabody button, .epabody select {
	text-transform: none;
}
.epabody ::selection {
	background: #5b616b;
	color: #fff;
	text-shadow: none;
}
.epabody .epa-banner-field, .epabody .icon, .epabody .region-highlighted > .block {
	position: relative;
}
.epabody .icon, .epabody .share-links__item, .epabody .share-links__link {
	vertical-align: middle;
}
.epabody .icon {
	display: inline-block;
	fill: #0071bc;
	height: 1em;
	top: -0.06em;
	width: 1em;
}
.epabody .icon--social-link {
	left: -9px;
	top: -9px;
}
.epabody svg:not(:root) {
	overflow: hidden;
}
.epabody .skip-links {
	font-size: 16px;
	left: 50%;
	margin-left: -7em;
	position: absolute;
	width: 14em;
	z-index: 9999;
}
.epabody label {
	display: block;
}
.epabody .element-hidden, .epabody [hidden], .epabody template {
	display: none;
}
.epabody .sitewide-alert {
	background: #fff1d0;
	color: #000;
}
.epabody .sitewide-alert--official {
	background: #f1f1f1;
}
.epabody .sitewide-alert--information {
	background: #e1f3ff;
}
.epabody.main-content, .epabody.main-footer > .main-footer__inner, .epabody.main-nav > .nav__inner, .epabody.masthead, .epabody .secondary-nav {
	margin: 0 auto;
	max-width: 35em;
	padding: 0 1em;
	position: relative;
}
/* @media screen and (min-width:35em), .epabody print and (min-width:35em) */
.epabody.main-nav > .nav__inner, .epabody.masthead, .epabody .secondary-nav, .epabody.main-content, .epabody.main-footer > .main-footer__inner {
	max-width: 60em;
}
.epabody.masthead {
	padding-bottom: 1em;
	padding-top: 1.4em;
}
/* @media screen and (min-width:50em) */
.epabody .simple-nav, .epabody.main-nav, .epabody .secondary-nav {
	display: block;
}
.epabody.main-content {
	background-color: #fff;
	color: #212121;
}
.epabody.main-footer {
	background-color: #323a45;
	color: #fff;
	padding-bottom: 3.9em;
	padding-top: 2.5em;
}
.epabody .row {
	margin: 0 -1em;
}
.epabody .col {
	padding: 0 1em;
}
/* @media screen */
.epabody .form-checkboxes .form-item, .epabody .form-radios .form-item, .epabody .pane-content > .node > :last-child, .epabody .pane-content > .view-mode-title > h3, .epabody .pane-content > :last-child, .epabody ol li:last-child p:last-child, .epabody ol ol, .epabody ol ul, .epabody p:empty, .epabody ul li:last-child p:last-child, .epabody ul ol, .epabody ul ul, .epabody ul.accordion ul ul {
	padding-bottom: 0px;
}
.epabody .links, .epabody .menu, .epabody .pipeline, .epabody .tabs {
	list-style: none !important;
	margin: 0;
	padding: 0;
}
.epabody .region-preface {
	margin: 0 -1em;
	padding: .5em 1em;
}
/* @media screen and (min-width:40em) */
.epabody .main-column, .epabody .region-highlighted {
	clear: left;
}
.epabody .mobile-bar {
	margin-top: -10.387rem;
	position: absolute;
	right: 1em;
}
.epabody.clearfix::after, .epabody .col::after, .epabody .menu::after, .epabody .pane-content::after, .epabody .pipeline::after, .epabody .row::after, .epabody .slat::after, .epabody .tabs::after {
	clear: both;
	content: "";
	display: table;
}
.epabody .mobile-nav {
	z-index: 100;
}
/* @media screen and (min-width:50em) */
.epabody #mobile-nav {
	display: none;
}
.epabody.main-nav {
	background-color: #0071bc;
	line-height: 1;
}
.epabody .simple-nav, .epabody.main-nav, .epabody .secondary-nav {
	display: block;
}
.epabody #main-content, .epabody .feed-icon {
	display: block;
}
.epabody #main-content:focus {
	outline: 0;
}
.epabody .ui-front {
	z-index: 100;
}
.epabody .ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	outline: 0;
}
.epabody .ui-autocomplete {
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: default;
}
.epabody .ui-widget-content {
	border-color: #d6d7d9;
}
.epabody .ui-menu {
	padding: 0;
}
.epabody .ui-widget-content {
	border: 1px solid #aaa;
	background: #fff;
	color: #222;
}
.epabody .ui-corner-all {
	border-radius: 3px;
}
.epabody .ui-autocomplete.epa-search-autocomplete {
	border-radius: 0 !important;
	max-height: 180px;
	overflow: auto;
	width: 193px !important;
}
.epabody .menu-link, .epabody .pipeline > li > a, .epabody .tabs > li > a {
	display: block;
	margin: 0;
	padding: 0;
}
.epabody .menu-button {
	background-color: #fff;
	border: 0;
	border-radius: 3px;
	color: #0071bc;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	margin: 0 0 1.5em;
	padding: .5882em 1.1765em;
	text-align: center;
	vertical-align: baseline;
	white-space: normal;
}
/* @media screen */
.epabody h1 a, .epabody h2 a, .epabody h3 a, .epabody h4 a, .epabody h5 a, .epabody h6 a {
	text-decoration: none;
}
.epabody .skip-link, .epabody .skip-link:focus, .epabody .skip-link:visited {
	background-color: #212121;
	border: 2px solid #f1f1f1;
	border-top: 0;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
	color: #f1f1f1;
	display: inline-block;
	font-weight: 700;
	line-height: 1.5;
	margin: 0;
	outline: 0;
	text-align: center;
	text-decoration: none;
	width: 14em;
	z-index: 9999;
}
.epabody a:link {
	-webkit-tap-highlight-color: transparent;
}
.epabody.main-nav > .nav__inner > .menu > .menu-item > .menu-link, .epabody .region-footer {
	font-family: Merriweather,Georgia,Cambria,"Times New Roman",Times,serif;
}
.epabody .region-footer {
	background: url(https://www.epa.gov/sites/all/themes/epa/img/svg/epa-seal.svg) no-repeat;
	background-size: 5.8824em 5.8824em;
	font-weight: 700;
	min-height: 5.88em;
	padding-top: 8em;
}
/* @media screen and (min-width:55em) */
.epabody .region-footer {
	padding-left: 11em;
	padding-top: 0px;
}
.epabody .region-footer .row {
	margin: 0 -1.6em;
}
.epabody .region-footer .col {
	padding: 0 1.6em;
}
/* @media screen and (min-width:40em), .epabody print and (min-width:40em) */
.epabody .cols-3 > .col {
	float: left;
	width: 50%;
}
/* @media screen and (min-width:45em), .epabody print and (min-width:45em) */
.epabody .row > .col {
	float: left;
}
/* @media screen and (min-width:40em), .epabody print and (min-width:40em) */
.epabody .cols-3 > :first-child.col {
	width: 100%;
}
/* @media screen and (min-width:45em), .epabody print and (min-width:45em) */
.epabody .cols-3.row > .col {
	width: 33.33%;
}
/* @media screen and (min-width:45em), .epabody print and (min-width:45em) */
.epabody .row > .size-1of3.col {
	width: 33.33%;
}
.epabody .region-footer .col__title {
	font-size: 117.64%;
	margin: 0 0 1.25em;
}
.epabody .region-footer .menu {
	margin-bottom: 2em;
}
.epabody .region-footer .social-menu {
	margin: 0;
	padding: 0;
}
.epabody .region-footer .last-updated {
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-size: 70.58%;
	font-weight: 500;
	padding: .8333em 0 0;
	text-transform: uppercase;
}
.epabody .region-footer .social-menu > li {
	display: inline-block;
	margin: 0 .25em 1em;
	vertical-align: top;
}
/* @media screen and (min-width:58em), .epabody print and (min-width:58em) */
.epabody .region-footer .social-menu > li {
	margin: 0 .5em 1em;
}
.epabody .region-footer .social-menu > li:first-child {
	margin-left: 0px;
}
.epabody .region-footer .social-menu > li:last-child {
	margin-right: 0px;
}
.epabody .social-instagram {
	background: url(https://www.epa.gov/sites/all/themes/epa/img/svg/epa_icons_Instagram.svg) no-repeat;
}
.epabody .social-flickr {
	background: url(https://www.epa.gov/sites/all/themes/epa/img/svg/epa_icons_Flickr.svg) no-repeat;
}
.epabody .social-youtube {
	background: url(https://www.epa.gov/sites/all/themes/epa/img/svg/epa_icons_YouTube.svg) no-repeat;
}
.epabody .social-twitter {
	background: url(https://www.epa.gov/sites/all/themes/epa/img/svg/epa_icons_Twitter.svg) no-repeat;
}
.epabody .social-facebook {
	background: url(https://www.epa.gov/sites/all/themes/epa/img/svg/epa_icons_Facebook.svg) no-repeat;
}
.epabody .share-links__link {
	border: 1px solid #0071bc;
	border-radius: 50%;
	color: #0071bc;
	display: inline-block;
	font-size: 2.7em;
	height: 0.66em;
	line-height: 0.66em;
	width: 0.66em;
}
.epabody .connect-title__link {
	text-decoration: none;
}
.epabody .region-footer a, .epabody .simple-nav a {
	text-decoration: none;
}
.epabody.main-footer a {
	color: #fff;
}
.epabody .region-footer .social-menu > li > a {
	background-size: 26px 26px;
	color: transparent;
	font: 0/0 a;
	height: 26px;
	text-decoration: none;
	text-shadow: none;
	width: 26px;
}
.epabody .region-footer .menu > li {
	margin: 0 0 .75em;
}
.epabody .region-footer .menu a {
	display: inline-block;
	font-size: 88.23%;
	line-height: 1.2;
	margin: 0;
	padding: 0;
}
.epabody .microsite-name {
	padding: 0 0 .4em;
}
/* @media screen and (min-width:40em) */
.epabody .microsite-name {
	float: left;
	max-width: calc(100% - 23.8rem);
	padding-top: 0.8em;
}
/* @media screen and (min-width:40em) */
.epabody .region-preface {
	text-align: right;
}
.epabody .node-type-web-area .region-preface {
	border-bottom: 0;
}
.epabody .element-invisible {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
/* @media screen */
.epabody .page-title {
	padding-top: 0.25em;
}
/* @media screen and (min-width:40em) */
.epabody .region-preface > div {
	text-align: left;
}
.epabody #block-pane-epa-web-area-connect, .epabody #block-pane-social-sharing {
	display: inline-block;
	margin-left: 1em;
	vertical-align: top;
}
.epabody .connect-title {
	display: inline-block;
	line-height: 1.8823;
	margin-right: 0.5em;
	text-transform: uppercase;
}
.epabody .share-links {
	display: inline-block;
	list-style: none;
	margin: 0 0 .75em;
	padding: 0;
}
.epabody .share-links__item {
	display: -moz-inline-stack;
	display: inline-block;
	margin: 0;
	white-space: nowrap;
}
.epabody .share-links__item + .share-links__item {
	margin-left: 0.5em;
}
.epabody .breadcrumb-title, .epabody.main-nav > .nav__inner > .menu, .epabody.main-nav > .nav__inner > .menu > .menu-item {
	float: left;
}
.epabody.main-nav > .nav__inner > .menu > .menu-item > .menu-link {
	color: #fff;
	font-size: 76.47%;
	font-weight: 700;
	line-height: 1;
	padding: 1.2em 1.6em;
	text-decoration: none;
}
/* @media screen and (min-width:46em) */
.epabody.main-nav > .nav__inner > .menu > .menu-item > .menu-link {
	font-size: 88.23%;
}
.epabody.main-nav > .nav__inner > .menu .menu {
	position: absolute;
	z-index: 4;
	background: #d6d7d9;
	display: ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	max-width: 19.76em;
}
.epabody.main-nav > .nav__inner > .menu .menu .menu-item {
	display: grid;
}
.epabody.main-nav > .nav__inner > .menu .menu .menu-link {
	clip: rect(1px, 1px, 1px, 1px);
	/*opacity: 0;
	position: absolute !important*/;
}
.epabody.main-nav > .nav__inner > .menu .menu .menu-link {
	align-items: center;
	background: #d6d7d9;
	border: solid #d6d7d9;
	border-width: 0 5px;
	color: #205493;
	display: flex;
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-size: 82.35%;
	font-weight: 400;
	line-height: 1.1;
	padding: .7143em 1.5714em;
	text-decoration: none;
	width: 12em;
}
.epabody.main-nav > .nav__inner > .menu .menu :nth-last-child(1):first-child.menu-item, .epabody.main-nav > .nav__inner > .menu .menu :nth-last-child(1):first-child.menu-item ~ li, .epabody.main-nav > .nav__inner > .menu .menu :nth-last-child(2):first-child.menu-item, .epabody.main-nav > .nav__inner > .menu .menu :nth-last-child(2):first-child.menu-item ~ li, .epabody.main-nav > .nav__inner > .menu .menu :nth-last-child(3):first-child.menu-item, .epabody.main-nav > .nav__inner > .menu .menu :nth-last-child(3):first-child.menu-item ~ li, .epabody.main-nav > .nav__inner > .menu .menu :nth-last-child(4):first-child.menu-item, .epabody.main-nav > .nav__inner > .menu .menu :nth-last-child(4):first-child.menu-item ~ li, .epabody.main-nav > .nav__inner > .menu .menu :nth-last-child(5):first-child.menu-item, .epabody.main-nav > .nav__inner > .menu .menu :nth-last-child(5):first-child.menu-item ~ li, .epabody.main-nav > .nav__inner > .menu .menu :nth-last-child(6):first-child.menu-item, .epabody.main-nav > .nav__inner > .menu .menu :nth-last-child(6):first-child.menu-item ~ li, .epabody.main-nav > .nav__inner > .menu .menu :nth-last-child(7):first-child.menu-item, .epabody.main-nav > .nav__inner > .menu .menu :nth-last-child(7):first-child.menu-item ~ li, .epabody.main-nav > .nav__inner > .menu .menu :nth-last-child(8):first-child.menu-item, .epabody.main-nav > .nav__inner > .menu .menu :nth-last-child(8):first-child.menu-item ~ li {
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-column: 1/span 2;
}
.epabody .mobile-links {
	background: #fff;
	border: 0;
	margin-top: -3em;
	padding: .5em 0;
	position: absolute;
	width: 100%;
	z-index: 100;
}
.epabody .menu-button, .epabody .mobile-links a {
	font-weight: 700;
	text-decoration: none;
}
.epabody .mobile-links a {
	display: block;
	line-height: 2.75;
	margin: 0 .5em .5em;
	padding: 0 1em;
}
.epabody .mobile-links a::after {
	content: ">";
	float: right;
}
.epabody img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}
.epabody .site-logo {
	display: none;
}
/* @media screen and (min-width:50em) */
.epabody .site-name-and-slogan {
	float: left;
}
.epabody #block-epa-core-gsa-epa-search {
	position: initial;
}
.epabody .epa-search {
	clear: both;
	padding-top: 1em;
	position: relative;
}
/* @media screen and (min-width:50em) */
.epabody .epa-search {
	clear: right;
	padding-top: 0px;
	float: right;
	width: 16.5em;
}
/* @media screen and (min-width:65em) */
.epabody .epa-search {
	bottom: 0.5em;
	padding-right: 1em;
	position: absolute;
	right: 0px;
}
/* @media screen and (min-width:65em) */
.epabody .epa-search {
	bottom: -2.29em;
}
.epabody .form-select, .epabody .form-text, .epabody .form-textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	border: 1px solid #5b616b;
	border-radius: 0;
	color: #212121;
	line-height: 1.2352;
	min-width: 10em;
	padding: .4117647059em .6470588235em;
}
.epabody .epa-search > .form-text {
	border-color: #0071bc;
	border-radius: 0 3px 3px 0;
	color: #212121;
	height: 1.64em;
	line-height: 1;
	padding: .2647058824em 2.8235294118em .2647058824em .6470588235em;
	width: 100%;
}
/* @media screen and (min-width:61em) */
.epabody .epa-search > .form-text {
	border-color: #fff;
}
.epabody .ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0px, 0px, 0px, 0px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.epabody button, .epabody input[type=button], .epabody input[type=reset], .epabody input[type=submit] {
	cursor: pointer;
	-webkit-appearance: button;
}
.epabody #edit-cancel, .epabody .addtocal, .epabody .archive, .epabody .button, .epabody .password-suggestions, .epabody .progress .bar, .epabody button, .epabody fieldset.collapsed legend, .epabody input[type=button], .epabody input[type=reset], .epabody input[type=submit], .epabody ins.new::before {
	border-radius: 3px;
}
.epabody #edit-cancel, .epabody .addtocal, .epabody .button, .epabody button, .epabody input[type=button], .epabody input[type=reset], .epabody input[type=submit] {
	background-color: #0071bc;
	border: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	line-height: 1;
	margin: 0 0 1.5em;
	padding: .5882em 1.1765em;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;
	white-space: normal;
}
.epabody .epa-search-button {
	background-color: #02bfe7;
	background-image: url(https://www.epa.gov/sites/all/themes/epa/img/svg/search.svg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	border-color: #02bfe7;
	border-radius: 0 3px 3px 0;
	box-sizing: border-box;
	color: #222;
	font: 0/0 a;
	height: 28px;
	right: 0px;
	position: absolute;
	text-decoration: none;
	text-indent: -999em;
	text-shadow: none;
	top: 17px;
	width: 44px;
}
/* @media screen and (min-width:50em) */
.epabody .epa-search-button {
	top: 0px;
}
/* @media screen and (min-width:61em) */
.epabody .epa-search-button {
	right: 16px;
}
.epabody .site-name {
	height: 31px;
	margin: 0 0 .125em;
	padding: 0;
	width: 101px;
}
/* @media screen and (min-width:23em) */
.epabody .site-name {
	float: left;
	margin-right: 0.2em;
}
.epabody .site-slogan {
	color: #0071bc;
	font-family: Arial,sans-serif;
	font-size: 1.088rem;
	font-weight: 500;
	line-height: 1;
}
/* @media screen and (min-width:23em) */
.epabody .site-slogan {
	top: -1px;
	width: 21.8em;
}
section.epabody a:visited {
	color: #4c2c92;
}
.epabody .site-name > a {
	display: block;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.epabody .site-name span {
	background: url(https://www.epa.gov/sites/all/themes/epa/img/svg/epa-logo.svg) no-repeat;
	color: transparent;
	display: block;
	font: 0/0 a;
	height: 31px;
	text-shadow: none;
}
.epabody .sitewide-alert__content {
	font-size: 70.58%;
	margin: 0 auto;
	max-width: 59.5rem;
	padding: .5em 6.5em .5em 3.66667em;
	position: relative;
}
/* @media screen and (min-width:35em), print and (min-width:35em) */
.epabody .sitewide-alert__content {
	max-width: 102rem;
}
.epabody .govdelivery-legend::before, .epabody .sitewide-alert__content::before {
	content: "";
	position: absolute;
}
.epabody .sitewide-alert__content::before {
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: block;
	height: 1.25em;
	margin: .125em 0 0 -2.25em;
	position: absolute;
	width: 2.25em;
}
.epabody .sitewide-alert--information .sitewide-alert__content::before {
	background-image: url(/img/info.png);
}
.epabody .sitewide-alert__content > :last-child {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.epabody .fieldset-title, .epabody .sitewide-alert a {
	text-decoration: none;
}
.epabody .sitewide-alert a {
	color: #0071bc;
	text-decoration: none;
}
.epabody .sitewide-alert--official .sitewide-alert__content::before {
	background-image: url(https://www.epa.gov/sites/all/themes/epa/img/us-flag.png);
}
.epabody .pillbox > :last-child.menu-item > .menu-link, .epabody .skip-link, .epabody .tabs > li:last-child > a {
	border-radius: 0 0 3px 3px;
}

/* WIDE TEMPLATE */
@media screen and (min-width: 35em), print and (min-width: 35em){.epabody.main-nav > .nav__inner,.epabody.masthead,.epabody.secondary-nav,.epabody.main-content,.epabody.main-footer > .main-footer__inner{max-width: 60em}.wide-template .region-alert > .block-alert,.wide-template .epabody.masthead,.wide-template .epabody.nav,.wide-template .epabody.main-content,.wide-template .epabody.main-footer > .main-footer__inner{max-width: 100%}}


/*SIDE BAR*/
.epabody .region-sidebar .block-og-menu .menu {
	display: inline-block;
}
.epabody .region-sidebar .block-og-menu .menu li {
	border-top: 1px solid #5b616b;
}
.epabody .region-sidebar .block-og-menu .menu li:first-child {
	border-top: 0;
}
.epabody .menu-link, .pipeline > li > a, .tabs > li > a {
	display: block;
	margin: 0;
	padding: 0;
}

.epabody .region-sidebar .block-og-menu .menu a {
	border-left: 4px solid transparent;
	color: #212121;
	line-height: 1;
	padding: .5882em .5882em .5882em .8235em;
	text-decoration: none;
}
.epabody .region-sidebar .block-og-menu .menu .menu li {
	border: 0;
}
.epabody .region-sidebar .block-og-menu .menu .menu a {
	border-left: 0;
	font-size: 88.23%;
	padding: .6667em .6667em .6667em 1.8667em;
}
.epabody .region-sidebar .block-og-menu .menu a.active, .epabody .region-sidebar .block-og-menu .menu a:active, .epabody .region-sidebar .block-og-menu .menu a:focus, .epabody .region-sidebar .block-og-menu .menu a:hover {
	background-color: #f1f1f1;
	border-left-color: #f1f1f1;
	box-shadow: none;
	color: #0071bc;
}
.epabody .region-sidebar .block-og-menu .menu a.active {
	border-left-color: #0071bc;
	font-weight: 700;
}


/*EPA FONTS*/

@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 300;
	src: url(https://www.epa.gov/sites/all/themes/epa/css/fonts/sourcesanspro-light-webfont.eot?#iefix) format("embedded-opentype"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/sourcesanspro-light-webfont.woff2) format("woff2"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/sourcesanspro-light-webfont.woff) format("woff"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/sourcesanspro-light-webfont.ttf) format("truetype");
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	src: url(https://www.epa.gov/sites/all/themes/epa/css/fonts/sourcesanspro-regular-webfont.eot?#iefix) format("embedded-opentype"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/sourcesanspro-regular-webfont.woff2) format("woff2"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/sourcesanspro-regular-webfont.woff) format("woff"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/sourcesanspro-regular-webfont.ttf) format("truetype");
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: italic;
	font-weight: 400;
	src: url(https://www.epa.gov/sites/all/themes/epa/css/fonts/sourcesanspro-italic-webfont.eot?#iefix) format("embedded-opentype"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/sourcesanspro-italic-webfont.woff2) format("woff2"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/sourcesanspro-italic-webfont.woff) format("woff"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/sourcesanspro-italic-webfont.ttf) format("truetype");
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 700;
	src: url(https://www.epa.gov/sites/all/themes/epa/css/fonts/sourcesanspro-bold-webfont.eot?#iefix) format("embedded-opentype"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/sourcesanspro-bold-webfont.woff2) format("woff2"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/sourcesanspro-bold-webfont.woff) format("woff"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/sourcesanspro-bold-webfont.ttf) format("truetype");
}
@font-face {
	font-family: "Merriweather";
	font-style: normal;
	font-weight: 300;
	src: url(https://www.epa.gov/sites/all/themes/epa/css/fonts/merriweather-light-webfont.eot?#iefix) format("embedded-opentype"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/merriweather-light-webfont.woff2) format("woff2"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/merriweather-light-webfont.woff) format("woff"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/merriweather-light-webfont.ttf) format("truetype");
}
@font-face {
	font-family: "Merriweather";
	font-style: normal;
	font-weight: 400;
	src: url(https://www.epa.gov/sites/all/themes/epa/css/fonts/merriweather-regular-webfont.eot?#iefix) format("embedded-opentype"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/merriweather-regular-webfont.woff2) format("woff2"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/merriweather-regular-webfont.woff) format("woff"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/merriweather-regular-webfont.ttf) format("truetype");
}
@font-face {
	font-family: "Merriweather";
	font-style: italic;
	font-weight: 400;
	src: url(https://www.epa.gov/sites/all/themes/epa/css/fonts/merriweather-italic-webfont.eot?#iefix) format("embedded-opentype"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/merriweather-italic-webfont.woff2) format("woff2"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/merriweather-italic-webfont.woff) format("woff"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/merriweather-italic-webfont.ttf) format("truetype");
}
@font-face {
	font-family: "Merriweather";
	font-style: normal;
	font-weight: 700;
	src: url(https://www.epa.gov/sites/all/themes/epa/css/fonts/merriweather-bold-webfont.eot?#iefix) format("embedded-opentype"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/merriweather-bold-webfont.woff2) format("woff2"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/merriweather-bold-webfont.woff) format("woff"), url(https://www.epa.gov/sites/all/themes/epa/css/fonts/merriweather-bold-webfont.ttf) format("truetype");
}


.main-nav>.nav__inner>.menu>.menu-item:hover>.menu-link,.main-nav>.nav__inner>.menu>.menu-item>.menu-link:focus,.main-nav>.nav__inner>.menu>.menu-item>.menu-link:hover,.main-nav>.nav__inner>.menu>.show-menu>.menu-link{background-color:#205493;box-shadow:none}

.main-nav>.nav__inner>.menu .menu{position:absolute;z-index:4;background:#d6d7d9;display:ms-grid;display:grid;-ms-grid-columns:1fr 1fr;grid-template-columns:1fr 1fr;max-width:19.7647em}.main-nav>.nav__inner>.menu .menu .menu-link{clip:rect(1px,1px,1px,1px);opacity:0;position:absolute!important}.main-nav .menu-link:focus+.menu>.menu-item>.menu-link,.main-nav .show-menu .menu>.menu-item>.menu-link,.main-nav>.nav__inner>.menu .menu .menu-link:focus,.main-nav .menu-item:hover>.menu>.menu-item>.menu-link{clip:auto;opacity:1;position:static!important}.main-nav>.nav__inner>.menu .menu .menu-item{display:grid}.main-nav>.nav__inner>.menu .menu .menu-item:nth-last-child(1):first-child,.main-nav>.nav__inner>.menu .menu .menu-item:nth-last-child(1):first-child~li,.main-nav>.nav__inner>.menu .menu .menu-item:nth-last-child(2):first-child,.main-nav>.nav__inner>.menu .menu .menu-item:nth-last-child(2):first-child~li,.main-nav>.nav__inner>.menu .menu .menu-item:nth-last-child(3):first-child,.main-nav>.nav__inner>.menu .menu .menu-item:nth-last-child(3):first-child~li,.main-nav>.nav__inner>.menu .menu .menu-item:nth-last-child(4):first-child,.main-nav>.nav__inner>.menu .menu .menu-item:nth-last-child(4):first-child~li,.main-nav>.nav__inner>.menu .menu .menu-item:nth-last-child(5):first-child,.main-nav>.nav__inner>.menu .menu .menu-item:nth-last-child(5):first-child~li,.main-nav>.nav__inner>.menu .menu .menu-item:nth-last-child(6):first-child,.main-nav>.nav__inner>.menu .menu .menu-item:nth-last-child(6):first-child~li,.main-nav>.nav__inner>.menu .menu .menu-item:nth-last-child(7):first-child,.main-nav>.nav__inner>.menu .menu .menu-item:nth-last-child(7):first-child~li,.main-nav>.nav__inner>.menu .menu .menu-item:nth-last-child(8):first-child,.main-nav>.nav__inner>.menu .menu .menu-item:nth-last-child(8):first-child~li{-ms-grid-column:1;-ms-grid-column-span:2;grid-column:1/span 2}.main-nav>.nav__inner>.menu .menu .menu-link{align-items:center;background:#d6d7d9;border:solid #d6d7d9;border-width:0 5px;color:#205493;display:flex;font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;font-size:82.3529%;font-weight:400;line-height:1.1;padding:.7143em 1.5714em;text-decoration:none;width:12em}.main-nav>.nav__inner>.menu .menu a.active,.main-nav>.nav__inner>.menu .menu a.menu-link:active,.main-nav>.nav__inner>.menu .menu a.menu-link:focus,.main-nav>.nav__inner>.menu .menu a.menu-link:hover{background:#aeb0b5 !important;border-color:#205493!important;outline:0!important}.main-nav>.nav__inner>.menu .menu a.active{font-weight:700}
